@import url(https://fonts.googleapis.com/css?family=Cabin:700);

body {
  padding-top: 2em;
  background:#315E8D;
}

.circle-container {
	position: relative;
	perspective: 1000;
	margin: 0 auto;
}

.circle-container:hover .circle {
	transform: rotate3d(45, 45, 0, 180deg);
}

.circle-container:hover .outer-ring {
	transform: rotate3d(45, 0, 0, 180deg);
}

.circle-container:hover .outer-outer-ring {
	transform: rotate3d(0, 45, 0, 180deg);
}

.circle-container, .front-one, .front-two, .front-three, .front-four, .back {
	width: 330px;
	height: 330px;
	background-color: rgba(0,0,0,0);
    margin-bottom: 2em;
}

.circle, .outer-ring, .outer-outer-ring {
	transition: 0.5s;
	transform-style: preserve-3d;
	transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.circle {
	position: relative;
	width: 360px;
	height: 360px;
	margin: 0 auto;
}


.front-one, .front-two, .front-three, .front-four, .back {
	border-radius: 50%;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front-one, .front-two, .front-three, .front-four {
	background-color: #fff;
	z-index: 2;
}

.front-one p {
	margin-top: 2.25em;
	font-family: cabin, sans-serif;
	font-weight: 700;
	font-size: 3.9em;
	text-align: center;
}

.front-two p {
   margin-top: 2.5em;
   font-family: cabin, sans-serif;
   font-weight: 700;
   font-size: 4.5rem;
   text-align: center;
   line-height: 10vh;
}

.front-three p{
   margin-top: 2.9em;
   font-family: cabin, sans-serif;
   font-weight: 700;
   font-size: 4.5rem;
   text-align: center;
}

.back {
   transform: rotate3d(45,45,0,180deg);
   background-color: #fff;
}

.back-logo {
	display: block;
	margin: 0.7em auto;
	font-size: 170px;
	margin-top: 70px;
}

.back-logo-two{
	display: block;
	margin: 0.7em auto;
	font-size: 170px;
	margin-left: -12px;
	margin-top: 70px
}

.outer-ring {
	position: absolute;
	top: -11px;
	left: -10.25px;
	border-radius: 50%;
	border: 2px solid #fff;
	width: 380px;
	height: 380px;
	background-color: rgba(255,255,255,0);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
	margin-left: -15px;
	margin-top: -13px;
}

.outer-outer-ring {
	position: absolute;
	top: -20px;
	left: -20px;
	border-radius: 50%;
	border: 2px solid #fff;
	width: 211px;
	height: 211px;
	background-color: rgba(255,255,255,0);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

.toppart {
   text-align: center;
   margin-bottom: 0.5em;
   margin-top: 0.3em;
   font-family: cabin, sans-serif;
   color: white;
   font-weight: 700;
   font-size: 5.2em;
}

.slogan {
   text-align: center;
   font-family: cabin, sans-serif;
   color: white;
   font-weight: 700;
   font-size: 2em;
}

.sloganadj {
   text-align: center;
   margin-bottom: 3.6em;
   font-family: cabin, sans-serif;
   color: white;
   font-weight: bold;
   font-size: 1.9em;
   padding-right: 10px;
   padding-left: 10px;
   text-transform: uppercase;

}

.health{
   color: white;
}

.row {
    text-align: center;
}

.inputSize{
  border-radius: 10px;
  resize: none;
  height: 100px;
  width: 500px;
  padding-left: 10px;
  padding-top: 10px;
  outline: none;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

.button5:hover {
  background-color: black;
  color: white;
}

.borderSubmit{
  border: 15px solid black;
  margin: 100px;
  padding: 50px;
}
